/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Permanent Marker', cursive;
}
html {
    scroll-behavior: smooth;
  }  
/* end of reset */
/* Util */
.bg-red{
    background-color: red;
}
.bg-yellow{
    background-color: yellow;
}
.bg-green{
    background-color: green;
}
.yellow-text{
    color: yellow;
}
.green-text{
    color: green;
}
/* end of Util */
.box{
    height: 100vh;
    position: relative;
}

.photo-container{
    position: absolute;
    right: 50%;
    left: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    height: 503px;
    width: 800px; 
}
h2{
    text-align: center;
    text-transform: uppercase;
}
nav{
    position: fixed;
    z-index: 2;
    right: 10px;
    top: 40px;
}
nav a{
    text-decoration: none;
    color: black;
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 40px;
    vertical-align: middle;
    padding: 0 10px;
}